<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Events</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    /* Custom styles can be added here */
  </style>
</head>
<body>

  <% if flash[:success] %>
    <div class="alert alert-danger">
      <%= flash[:success] %>
    </div>
  <% end %>
  
  <div class="container mt-5">
    <div class="row">
      <div class="col">
        <p class="text-success"><%= notice %></p>
        <h1>Events</h1>
        <a href="<%= new_event_path %>" class="btn btn-success mt-3">New event</a>
        <div id="events">
          <% @events.each do |event| %>
            <div class="card mt-3">
              <div class="card-body">
                <h3 class="card-title"><%= event.title %></h3>
                <p class="card-text">
                  <%= link_to "Show this event", event, class: "btn btn-dark" %>
                </p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap JS -->
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>-->
</body>
</html>
