<html>
<head>
 </head>
<body>
  <% if flash[:danger] %>
    <div class="alert alert-danger">
      <%= flash[:danger] %>
    </div>
  <% end %>
  <div class="container mt-5">
    <h1 class="mb-4">Create New Event</h1>
    <%= form_tag new_event_path do %>
      <div class="form-group">
        <%= label_tag :title, "Event Title" %>
        <%= text_field_tag 'event[title]', nil, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= label_tag :description, "Event Description" %>
        <%= text_area_tag 'event[description]', nil, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= label_tag :price, "Event Price" %>
        <%= number_field_tag 'event[price]', nil, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= label_tag :start_date, "Event Start Date" %>
        <%= date_field_tag 'event[start_date]', nil, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= label_tag :duration, "Event Duration" %>
        <%= number_field_tag 'event[duration]', nil, class: 'form-control' %>
      </div>
            <div class="form-group">
        <%= label_tag :user_id, "Author" %>
        <%= select_tag 'event[user_id]', options_for_select(User.all.collect { |u| [u.first_name, u.id] }), class: "form-control" %>
      </div>
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <%= submit_tag "Create event", class: 'btn btn-dark' %>
    <% end %>
  </div>
</body>
</html>
